*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{   
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6
}

header, .main, footer
{
    width: 100%;
    background-color: white;
}

header
{
    height: 10%;
}

header nav
{
    height: 100%;
    display: flex;
    
}

header nav img
{
    width: 7%;
}

header nav a
{
    display: flex;
    width: 100%;
    height: calc(100%-2px);
    text-decoration: none;
    font-weight: bold;
    background-color: #252a34;
    color: #08d9d6;
    border: 2px solid #252a34;

    /*Centro el texto*/
    align-items: center;
    justify-content: center;
    
}

header nav a:hover
{
    color: #ff2e63;
    border: 2px solid #08d9d6;
}

.main
{
    height: 75%;
}

.main article
{
    text-justify: auto;
    text-align: center;
    margin: 8% 25%;
}

footer
{
    height: 15%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #252a34;
    color: #636d74;
}

footer .copyright
{
    margin-left: 2.5%;
    width: 20%;
}

footer p
{
    white-space: nowrap;
}

footer .contact_us
{
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 2.5%;

    font-size: 0.85em;
}

footer .contact_us p
{
    margin-right: 2%;
}

footer .contact_us a img
{
    width: 2em;
    border: 1px solid #252a34;
    border-radius: 25%;
}

footer .contact_us a
{
    margin: 0 1%;
}


footer .contact_us a img:hover
{
    border: 1px solid #636d74;
}

@media (max-width: 550px)
{
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    footer .copyright{
        width: 100%;
        text-align: center;
    }

    footer .contact_us{
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }
}

@media (max-width: 350px)
{
    body{
        font-size: 0.85em;
    }
    footer .contact_us a img{
        width: 1.5em;
    }
}

@media (max-width: 280px)
{
    body{
        font-size: 0.7em;
    }
    footer .contact_us a img{
        width: 1em;
    }
}